

<ion-content padding>
  
  <div class="container">
  <h1>TechTudo<ion-icon name="cube"></ion-icon></h1>
  
  <form [formGroup]="formulario">
    <h2>Login</h2>
    <ion-list>
      <ion-item>
        <ion-label position="floating">E-mail</ion-label>
        <ion-input type="text" formControlName="email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Senha</ion-label>
        <ion-input type="password" formControlName="senha"></ion-input>
      </ion-item>

      <p id="alerta-login">{{ msg }}</p>

      <ion-button (click)="efetuarLogin()" expand="full">
        Entrar
      </ion-button>
      <ion-button (click)="efetuarCadastro()" expand="full">
        Cadastrar
      </ion-button>
      
    </ion-list>   
  </form>

  <!-- <ion-row>
    <ion-col size="4">
      <ion-button (click)="efetuarCadastro()" expand="full">
        Cadastrar-se
      </ion-button>
    </ion-col>

    <ion-col size="4">
      <ion-button (click)="efetuarLogin()">
        Entrar
      </ion-button>
    </ion-col>

    <ion-col size="4">
      <ion-button (click)="listaUsuarios()">
        Entrar
      </ion-button>
    </ion-col>
  </ion-row>

  <ion-list>
    <ion-label>Usuários Cadastrados</ion-label>
    <ion-item color="primary" *ngFor="let usuario of listaUsuarios">
      <ion-label>{{ usuario.nome }}</ion-label>
    </ion-item>
  </ion-list> -->

  
  </div>
  

</ion-content>
