<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="categorias"></ion-back-button>
    </ion-buttons>
    <ion-title>Notebooks</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item>
      <img src="../../assets/img/acer-nitro-5.jpg">
      <div>
        <p>Notebook Gamer Acer Aspire Nitro 5 i5 8GB RAM 1TB HD 15,6” Full HD</p>
        <p>R$ 4.299,00</p>
      </div>      
    </ion-item>
    <ion-item>
      <img src="../../assets/img/dell-g7.jpg">
      <div>
        <p>Notebook Gamer Dell G7 i7 16GB 1TB+256GB SSD GTX 1050Ti 4GB 15.6” FHD</p>
        <p>R$ 6.399,00</p>
      </div>
    </ion-item>
    <ion-item>
      <img src="../../assets/img/lenovo-legion.jpg">
      <div>
        <p>Notebook Lenovo Gamer Legion Y720 i7 16GB 1TB GTX1060 15,6” FHD</p>
        <p>R$ 6.999,00</p>
      </div>
    </ion-item>
    <ion-item>
      <img src="../../assets/img/acer-nitro-5.jpg">
      <div>
        <p>Notebook Gamer Acer Aspire Nitro 5 i5 8GB RAM 1TB HD 15,6” Full HD</p>
        <p>R$ 4.299,00</p>
      </div>
    </ion-item>
    <ion-item>
      <img src="../../assets/img/dell-g7.jpg">
      <div>
        <p>Notebook Gamer Dell G7 i7 16GB 1TB+256GB SSD GTX 1050Ti 4GB 15.6” FHD</p>
        <p>R$ 6.399,00</p>
      </div>
    </ion-item>
    <ion-item>
      <img src="../../assets/img/lenovo-legion.jpg">
      <div>
        <p>Notebook Lenovo Gamer Legion Y720 i7 16GB 1TB GTX1060 15,6” FHD</p>
        <p>R$ 6.999,00</p>
      </div>
    </ion-item>
  </ion-list>
</ion-content>
