<ion-split-pane>
  <ion-menu menuId="menuId" side="start" type="overlay">
    <ion-header>
      <ion-toolbar>

        <ion-buttons slot="start">
          <ion-menu-button menu="menuId"></ion-menu-button>
        </ion-buttons>

        <ion-title>MENU</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <ion-menu-toggle>
        <ion-list>
          <ion-item routerLink="/notebooks">
            <ion-label>Notebooks</ion-label>
          </ion-item>
          <ion-item routerLink="/notebooks">
            <ion-label>Monitores</ion-label>
          </ion-item>
          <ion-item routerLink="/notebooks">
            <ion-label>Teclados</ion-label>
          </ion-item>

          <ion-item button (click)="logout()">
              <ion-icon slot="start" name="exit"></ion-icon>Sair
          </ion-item>
        </ion-list>

      </ion-menu-toggle>
    </ion-content>
  </ion-menu>
  <ion-router-outlet main></ion-router-outlet>
</ion-split-pane>
