<ion-header>
  <ion-toolbar>
    <ion-title>Categorias</ion-title>

    <ion-buttons slot="start">
        <ion-menu-button color="light"></ion-menu-button>
      </ion-buttons>

  </ion-toolbar>  
</ion-header>

<ion-content padding> 

  <ion-list>
    <ion-item class="notebook" routerLink="/notebooks" >
      <ion-label>Notebooks</ion-label>
    </ion-item>
    <ion-item class="monitor" routerLink="/notebooks">
      <ion-label>Monitores</ion-label>
    </ion-item>
    <ion-item class="teclado" routerLink="/notebooks">
      <ion-label>Teclados</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
